#masterHelpDiv{
    margin-top: 100px;
}
.helpTab{
    margin-top: 25px;
    background-color: black;
    color: white;
    border: solid white;
    padding: 25px;
    text-align: left;
    width:200px;
    transition: width 2s;
}

.helpTab:hover{
    width: 50%;
    animation-fill-mode: forwards;
}

.inTabText{
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    width: 95%;
}

.inTabText:hover{
    white-space: normal;
}

#contactBox{
    position: absolute;
    right: 0%;
    top: 0%;
    color:white;
    border: solid white;
    background-color: black;
    padding: 25px;
    width: 40%;
    word-break: keep-all;
    margin-top: 100px;
    margin-right: 10px;
}
