body {
    font: 13px/20px "Lucida Grande", Verdana;
    color: #696969;
    background: #1e90ff;
    text-align: center;
}

#boxed{
    margin: 0 auto;
    background-color: #f8f8ff;
    height: 190px;
    width: 350px;
    padding: 1px;
    border: 1px #000000;
    box-shadow: 5px 7px #808080;
}